
<div class="card" style="padding: 10px">
  <div class="row">
    <form #f="ngForm" (ngSubmit)="saveButtonClick(f)">
      <div class="col-md-12 ml-3 mt-3">
        <div class="form-group">
          <label class="control-label">Old Password </label>
          <span>*</span>

          <input
            type="password"
            class="form-control mb-2"
            [(ngModel)]="user.OldPassword"
            name="OldPassword"
            placeholder="Enter Old Password"
            #bname="ngModel"
            required
            maxlength="100"
            [ngClass]="{ 'is-invalid': f.submitted && bname.invalid }"
          />
        </div>

        <div class="form-group mb-2">
          <label class="control-label">New Password </label>
          <span>*</span>

          <input
            type="password"
            class="form-control mb-2"
            [(ngModel)]="user.NewPassword"
            name="NewPassword"
            placeholder="Enter New Password"
            #bname="ngModel"
            required
            maxlength="100"
            [ngClass]="{ 'is-invalid': f.submitted && bname.invalid }"
          />
        </div>

        <div class="form-group mb-2">
          <label class="control-label">Confirm Password </label>
          <span>*</span>

          <input
            type="password"
            class="form-control"
            [(ngModel)]="user.ConfirmPassword"
            name="ConfirmPassword"
            placeholder="Enter Confirm Password"
            #bname="ngModel"
            required
            maxlength="100"
            [ngClass]="{ 'is-invalid': f.submitted && bname.invalid }"
          />
        </div>
        <div class="form-group mt-3">
          <button type="submit" class="primary-btn">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>


<swal
  #confirmSwal
  title="Are you sure to change password?"
  text="This cannot be undone"
  icon="warning"
  [showCancelButton]="true"
  [focusCancel]="true"
  (confirm)="changePassword()"
  [customClass]="{
    confirmButton: 'btn btn-danger',
    cancelButton: 'btn btn-active-light'
  }"
>
</swal>